
@{
    ViewData["Title"] = "Product";
}

<main>
    <section id="product-detail" style="margin-top: -16px;">
        <div class="container">
            <ul style="margin-left: -41px;">
                <li><span><a href="./index.html" class="home">HOME</a></span></li> >
                <li>
                    <span>
                        <a href="https://klbtheme.com/bacola/product-category/meats-seafood/">
                            MEATS & SEAFOOD
                        </a>
                    </span>
                </li>
                <li>
                    > <span style="color:#d3d1d1; font-size: 13px;">
                        ALL NATURAL ITALIAN-STYLE
                        CHICKEN MEATBALLS
                    </span>
                </li>
            </ul>
            <div class="card-product mt-5">
                <div style="background-color: white; border-radius: 5px;" class="container cart">
                    <h2 style="font-size: 24px; padding-top: 40px;">All Natural Italian-Style Chicken Meatballs</h2>
                    <div class="review">
                        <div class="row">
                            <div class="col-xl-1 col-sm-12">
                                <span style="color:#d3d1d1;">Brands:</span><span>Welch's</span>
                            </div>
                            <div class="col-xl-2 col-sm-12">
                                <span style="margin-left: 50px;" class="rating">
                                    <i style="color: gold;"
                                       class="fa-solid fa-star"></i><i style="color: gold;"
                                                                       class="fa-solid fa-star"></i><i style="color: gold;"
                                                                                                       class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"> </i>
                                </span>
                            </div>
                            <div class="col-xl-1 col-sm-12 box">
                                <span style="color:#d3d1d1;">SKU:</span><span>ZU49VOR</span>
                            </div>
                        </div>
                    </div>
                    <div class="percent mt-5">
                        <a href="#">23%</a>
                    </div>
                    <div class="txt">
                        <a href="#">RECOMMENDED</a>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-sm-12 product-image">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators pt-4">
                                    <button style="border: none;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><img style="width: 60px; height: 60px;" src="~/assets/img/mini1.jpg" alt=""></button>
                                    <button style="border: none;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"><img style="width: 60px; height: 60px;" src="~/assets/img/2.jpg" alt=""></button>
                                    <button style="border: none;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"><img style="width: 60px; height: 60px;" src="~/assets/img/3.jpg" alt=""></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img style="margin-bottom: 40px;" src="~/assets/img/card1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img style="margin-bottom: 40px;" src="~/assets/img/2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img style="margin-bottom: 40px;" src="~/assets/img/3.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>



                            <!-- <img src="~/assets/img/product-image-62-768x691.jpg" alt="">
                            <div class="other-images">
                                <div class="row  mt-3">
                                    <img src="~/assets/img/card1.jpg">
                                     <img src="~/assets/img/card1.jpg">
                                    <img src="~/assets/img/card1.jpg">
                                </div>
                            </div> -->
                        </div>
                        <div class="col-xl-3 col-sm-12">
                            <div class="info-product">
                                <span style="color:#d3d1d1;  text-decoration: line-through;">$9.35</span>
                                <span style="color:red; font-size: 30px; font-weight:1000px;">$7.25</span>
                                <div class="stock mt-3">
                                    <span class="stock">IN STOCK</span>
                                </div>
                                <p class=" product-vivamus mt-3">
                                    Vivamus adipiscing nisl ut dolor dignissim semper.
                                    Nulla luctus
                                    malesuada
                                    tincidunt. Class aptent taciti sociosqu ad litora torquent
                                </p>
                                <div class="add-cart">
                                    <div class="count">
                                        <div class="minus curcile">
                                            <p>-</p>
                                        </div> <span>1</span>
                                        <div class="plus curcile">
                                            <p>+</p>
                                        </div>
                                        <button type="submit" class="btn button">
                                            <a href="#">
                                                Add to
                                                cart
                                            </a>
                                        </button>
                                    </div>
                                </div>
                                <div class="product-action mt-5">
                                    <button type="submit" class="btn wishlist button ">
                                        <a href="#">
                                            <i class="fas fa-heart"></i>Add to Wishlist
                                        </a>
                                    </button>
                                    <a href="#">↓↑ COMPARE</a>
                                    <i class="fa-thin fa-arrow-down-arrow-up"></i>
                                </div>
                                <div class="check mt-5">
                                    <span> <span class="tick">✓</span>Type: Organic</span><br>
                                    <span> <span class="tick">✓</span> MFG: Jun 4.2021</span><br>
                                    <span> <span class="tick">✓</span> LIFE: 30 days</span>
                                </div>
                                <hr>

                                <div class="product-type mt-3">
                                    <ul>
                                        <li>
                                            Category:<a href="#">
                                                Meats
                                                &
                                                Seafood
                                            </a>
                                        </li>
                                        <li>Tags:<a href="#">chicken,natural,organic</a></li>
                                    </ul>
                                </div>
                                <div class="social mt-5">
                                    <div style="margin-bottom: 10px;" class="row">
                                        <div class="links-facebook col-xl-1 col-sm-12">
                                            <i class="fab fa-facebook-f"></i>
                                        </div>
                                        <div class="links-twitter col-xl-1 col-sm-12">
                                            <i class="fab fa-twitter"></i>
                                        </div>
                                        <div class="links-pinterest col-xl-1 col-sm-12">
                                            <i class="fab fa-pinterest-p"></i>
                                        </div>
                                        <div class="links-linkedin col-xl-1 col-sm-12">
                                            <i class="fab fa-linkedin-in"></i>
                                        </div>
                                        <div class="links-reddit col-xl-1 col-sm-12">
                                            <i class="fab fa-reddit"></i>
                                        </div>
                                        <div class="links-whatsapp col-xl-1 col-sm-12">
                                            <i class="fab fa-whatsapp"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-12">
                            <div class="side-info">
                                <div class="row">
                                    <div style=" margin-left: 81px; background-color: rgb(255 238 242);
                                    border: 1px solid rgb(255 238 242);" class="col-xl-12 col-sm-12 covid">
                                        <span style="font-size: 12px;">
                                            <strong>
                                                Covid-19 Info: We keep
                                                delivering.
                                            </strong>
                                        </span>
                                    </div>
                                    <div class="main-info mt-3 col-xl-12 col-sm-12">
                                        <ul>
                                            <li>

                                                <div class="text">
                                                    🚚 Free Shipping apply to all orders over $100
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="fal fa-glass fa-lg"></i></div>
                                                <div class="text">
                                                    🍞 Guranteed 100% Organic from natural farmas
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon"><i class="fal fa-usd-circle fa-xl"></i></div>
                                                <div class="text"> 💲 1 Day Returns if you change your mind</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="tabe-menu">
                <div class="row mt-5">
                    <div class="col-12">
                        <div style="margin-bottom: -16px;" class="tab-menu">
                            <div class="tab">

                                <button class="tab-link" onclick="openCity(event, '1')">
                                    <span>DESCRIPTION</span>
                                </button>
                                <button class="tab-link" onclick="openCity(event, '2')">
                                    <span>
                                        ADDITIONAL
                                        INFORMATION
                                    </span>
                                </button>
                                <button class="tab-link" onclick="openCity(event, '3')">
                                    <span class="p">
                                        REVIEWS
                                        (1)
                                    </span>
                                </button>
                            </div>
                            <hr>
                            <div id="1" class="tabcontent " style="margin-left: 15px;">
                                <p>
                                    Quisque varius diam vel metus mattis, id aliquam diam rhoncus. Proin vitae magna
                                    in
                                    dui finibus malesuada et at nulla. Morbi elit ex, viverra vitae ante vel,
                                    blandit
                                    feugiat ligula. Fusce fermentum iaculis nibh, at sodales leo maximus a. Nullam
                                    ultricies sodales nunc, in pellentesque lorem mattis quis. Cras imperdiet est in
                                    nunc tristique lacinia. Nullam aliquam mauris eu accumsan tincidunt. Suspendisse
                                    velit ex, aliquet vel ornare vel, dignissim a tortor.
                                </p>
                                <p>
                                    Morbi ut sapien vitae odio accumsan gravida. Morbi vitae erat auctor, eleifend
                                    nunc
                                    a, lobortis neque. Praesent aliquam dignissim viverra. Maecenas lacus odio,
                                    feugiat
                                    eu nunc sit amet, maximus sagittis dolor. Vivamus nisi sapien, elementum sit
                                    amet
                                    eros sit amet, ultricies cursus ipsum. Sed consequat luctus ligula. Curabitur
                                    laoreet rhoncus blandit. Aenean vel diam ut arcu pharetra dignissim ut sed leo.
                                    Vivamus faucibus, ipsum in vestibulum vulputate, lorem orci convallis quam, sit
                                    amet
                                    consequat nulla felis pharetra lacus. Duis semper erat mauris, sed egestas purus
                                    commodo vel.
                                </p>
                            </div>
                            <div id="2" class="tabcontent">
                                <div class="text">
                                    <p>Brands</p>
                                </div>
                                <div class="text">
                                    <p>Welch's</p>
                                </div>

                            </div>
                            <div id="3" class="tabcontent">
                                <div class="container">
                                    <div class="review">
                                        <h6>1 REVIEW FOR ALL NATURAL ITALIAN-STYLE CHICKEN MEATBALLS</h6>
                                        <div class="user-info">
                                            <img src="~/assets/img/koreyaliqiz.jpeg">
                                            <span><i style="color: gold;" class="fa-solid fa-star"></i></span>
                                            <span><i style="color: gold;" class="fa-solid fa-star"></i></span>
                                            <span><i style="color: gold;" class="fa-solid fa-star"></i></span>
                                            <span><i style="color: gold;" class="fa-solid fa-star"></i></span>
                                            <span><i style="color: gold;" class="fa-solid fa-star"></i></span>
                                            <ul>
                                                <li>admin-<span style="color:#9B9BB4;">May 1,2021</span></li>
                                                <li>
                                                    Sed perspiciatis unde omnis iste natus error sit voluptatem
                                                    accusantium
                                                    doloremque laudantium.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="user-commet">
                                            <h5>Add a review</h5>
                                            <hr>
                                            <span class="mt-5">
                                                Your email address will not be published. Required
                                                fields
                                                are
                                                marked *
                                            </span>
                                            <p>Your rating *</p>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-1 rate one">
                                                            <span>☆</span>
                                                        </div>

                                                        <div class="col-2 rate two">
                                                            <span>☆☆</span>
                                                        </div>
                                                        <div class="col-2 rate three">
                                                            <span>☆☆☆</span>
                                                        </div>
                                                        <div class="col-2 rate four">
                                                            <span>☆☆☆☆</span>
                                                        </div>
                                                        <div class="col-3 rate five">
                                                            <span>☆☆☆☆☆</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span>Your review *</span>
                                            <div class="mt-2">
                                                <textarea></textarea>
                                            </div>
                                            <div class="mt-2">
                                                <span>Name *</span>
                                                <input type="name" name="" id="name">
                                            </div>
                                            <div class="mt-2">
                                                <span>Email *</span>
                                                <input type="mail" name="" id="mail">
                                            </div>
                                            <div class="mt-2">
                                                <input type="checkbox" name="" id="checkbox"><span>
                                                    Save my name,
                                                    email, and website in this browser for the next time I
                                                    comment.
                                                </span>
                                            </div>
                                            <div class="mt-2">
                                                <button class="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="carts">
                <div class="title pt-5">
                    <p>RELATED PRODUCTS</p>
                </div>
                <div class="container" style="margin-left: -13px;">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card position-relative card-products" style="width: 17rem;">
                                <img src="~/assets/img/card1.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 23%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$9.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card position-relative card-products" style="width: 17rem;">
                                <img src="~/assets/img/card1.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 23%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$9.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card position-relative card-products" style="width: 17rem;">
                                <img src="~/assets/img/card1.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 23%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$9.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card position-relative card-products" style="width: 17rem;">
                                <img src="~/assets/img/card1.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 23%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$9.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    </section>




</main>

