
@{
    ViewData["Title"] = "Shop";
}

<main>
    <section id="details" class="">
        <div class="container">
            <div class="info">
                <ul style="margin-left: -41px;">
                    <li><span><a href="./index.html" class="home">HOME ></a></span></li>
                    <li><span><a class="shp" href="">SHOP</a></span></li>
                </ul>
            </div>
        </div>
    </section>
    <section id="filter">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <div class="title">
                        <span>PRODUCT CATEGORIES</span>
                    </div>
                    <div id="check-box" class="check-boxes ">
                        <button style="font-size: 12px; height: 15px; background: none; border: none;"
                                class="accordion">
                            <input type="checkbox" name="" id=""> Beverages
                        </button>
                        <div class="panel">
                            <p>Product</p>
                            <p>Product</p>
                            <p>Product</p>
                        </div>
                        <button style="font-size: 12px; height: 15px; background: none; border: none;"
                                class="accordion">
                            <input type="checkbox" name="" id=""> Biscuits & Snacks
                        </button>
                        <div class="panel">
                            <p>Product</p>
                            <p>Product</p>
                            <p>Product</p>
                        </div>

                        <button style="font-size: 12px; height: 15px; background: none; border: none;"
                                class="accordion">
                            <input type="checkbox" name="" id=""> Bread & Bakery
                        </button>
                        <div class="panel">
                            <p>Product</p>
                            <p>Product</p>
                            <p>Product</p>
                        </div>

                        <button style="font-size: 12px; height: 15px; background: none; border: none;"
                                class="accordion">
                            <input type="checkbox" name="" id=""> Breakfast & Dairy
                        </button>
                        <div class="panel">
                            <p>Product</p>
                            <p>Product</p>
                            <p>Product</p>
                        </div>
                        <button style="font-size: 12px; height: 15px; background: none; border: none;"
                                class="accordion">
                            <input type="checkbox" name="" id=""> Frozen Foods
                        </button>
                        <div class="panel">
                            <p>Product</p>
                            <p>Product</p>
                            <p>Product</p>
                        </div>
                        <button style="font-size: 12px; height: 15px; background: none; border: none;"
                                class="accordion">
                            <input type="checkbox" name="" id=""> Fruits & Vegetables
                        </button>
                        <div class="panel">
                            <p>Product</p>
                            <p>Product</p>
                            <p>Product</p>
                        </div>
                        <button style="font-size: 12px; height: 15px; background: none; border: none;"
                                class="accordion">
                            <input type="checkbox" name="" id=""> Grocery & Staples
                        </button>
                        <div class="panel">
                            <p>Product</p>
                            <p>Product</p>
                            <p>Product</p>
                        </div>
                        <button style="font-size: 12px; height: 15px; background: none; border: none;"
                                class="accordion">
                            <input type="checkbox" name="" id=""> Household Needs
                        </button>
                        <div class="panel">
                            <p>Product</p>
                            <p>Product</p>
                            <p>Product</p>
                            <p>Product</p>
                        </div>
                        <button style="font-size: 12px; height: 15px;background: none; border: none;"
                                class="accordion">
                            <input type="checkbox" name="" id=""> Meats & Seafoods
                        </button>
                        <div class="panel">
                            <p>Product</p>
                            <p>Product</p>
                            <p>Product</p>
                            <p>Product</p>
                        </div>
                    </div>
                    <div class="range-slider pt-5">
                        <h4>FILTER BY PRICE</h4>
                        <input class="range-slider__range" type="range" value="70" min="0" max="70">
                        <span class="range-slider__value">70</span>
                        <span style="font-size: 12px; font-weight: 600;" class="ms-5">FILTER</span>
                    </div>
                    <div class="product-status mt-5">
                        <h4>PRODUCT STATUS</h4>
                        <div class="first-tick">
                            <input type="checkbox" name="" id=""><span> In Stock</span>
                        </div>
                        <div class="second-tick">
                            <input type="checkbox" name="" id=""> <span> On Sale</span>
                        </div>
                    </div>
                    <div class="brands-status mt-5">
                        <h4>BRANDS</h4>
                        <div class="first-tick">
                            <input type="checkbox" name="" id=""><span> Frito Lay</span>
                        </div>
                        <div class="second-tick">
                            <input type="checkbox" name="" id=""> <span> Nespresso</span>
                        </div>
                        <div class="first-tick">
                            <input type="checkbox" name="" id=""><span> Oreo</span>
                        </div>
                        <div class="first-tick">
                            <input type="checkbox" name="" id=""><span> Quaker</span>
                        </div>
                        <div class="first-tick">
                            <input type="checkbox" name="" id=""><span> Welch's</span>
                        </div>
                    </div>
                    <div class="gif-banner mt-5">
                        <img style="width: 208px; height: 270px;" src="~/assets/img/sidebar-banner.gif" alt="">
                    </div>
                </div>

                <div class="col-xl-9">
                    <div class="product-img">
                        <img style="width: 840px;" src="~/assets/img/bacola-banner-18.jpg" alt="">
                    </div>
                    <div class="txt-img">
                        <span class="organic">Organic Meals Prepared</span><br>
                        <span class="first-txt">Delivered to</span> <span class="second-txt"> your Home</span>
                        <p>Fully prepared & delivered nationwide</p>
                    </div>
                    <div style="width: 840px;" class="grids">
                        <div class="icons">
                            <i style="margin-left: 10px; color: black " class="fa-solid fa-bars"></i>
                            <i style="margin-left: 10px; color: #c2c2d3;" class="fa-solid fa-border-all"></i>
                            <i style="margin-left: 10px; color: #c2c2d3;" class="fa-solid fa-table-cells"></i>
                            <i style="margin-left: 10px; color: #c2c2d3;" class="fa-solid fa-border-none"></i>
                            <span style="font-weight: 500; margin-left: 405px; color: #202435;">
                                Sort by lastest
                                🡙
                            </span>

                            <span style="font-weight: 500; margin-left: 10px; color: #202435;">Show 12 🡙</span>
                        </div>
                    </div>
                    <div class="row pt-3" style="margin-right: -10px;">
                        <div class="col-xl-3">
                            <div class="card position-relative card-products" style="width: 12rem; margin-left: -9px;">
                                <img src="~/assets/img/card1.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 23%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$9.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card position-relative card-products" style="width: 12rem; margin-left: -5px;">
                                <img src="~/assets/img/card3.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 23%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$9.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card position-relative card-products" style="width: 12rem; margin-left: -2px;">
                                <img src="~/assets/img/card4.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 8%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$14.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card position-relative card-products" style="width: 12rem;">
                                <img src="~/assets/img/card5.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 23%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$9.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3" style="margin-right: -10px;">
                        <div class="col-xl-3">
                            <div class="card position-relative card-products" style="width: 12rem; margin-left: -9px;">
                                <img src="~/assets/img/bottle.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 23%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$9.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card position-relative card-products" style="width: 12rem; margin-left: -5px;">
                                <img src="~/assets/img/cacos.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 23%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$9.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card position-relative card-products" style="width: 12rem; margin-left: -2px;">
                                <img src="~/assets/img/blueberry.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 13%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$11.35</span>
                                    <span class="no-line">-$8.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card position-relative card-products" style="width: 12rem;">
                                <img src="~/assets/img/card3.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 10%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$10.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </section>
    <!-- <section id="cards-range">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">

                </div>

            </div>
        </div>
        </div>
    </section> -->
</main>

