
@{
    ViewData["Title"] = "Home";
}

<main>
    <section id="carousel">
        <div class="owl-carousel first-carousel owl-theme mt-3">
            <div class="item">
                <img src="./assets/img/slider-image-6.jpg" alt="">
                <div class="text-box">
                    <h3>A different kind of </h3>
                    <h3>grocery store</h3>
                    <p>Only this week. Don’t miss...</p>
                    <span>from </span>
                    <span class="price text-danger">$7.99</span>
                    <button type="button" class="btn btn-primary">
                        Shop Now <i class="fa-solid fa-right-long"></i>
                    </button>
                </div>
            </div>
            <div class="item">
                <img src="./assets/img/slider-image-7.jpg" alt="">
                <div class="text-box">
                    <h3>Quality Freshness </h3>
                    <h3>Guaranteed!</h3>
                    <p>Only this week. Don’t miss...</p>
                    <span>from </span>
                    <span class="price text-danger">$14.35</span>
                    <button type="button" class="btn btn-primary">
                        Shop Now <i class="fa-solid fa-right-long"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section id="category-cards">
        <div class="container">
            <div class="row mt-5">
                <div class="col-xl-2 col-md-12 beverages-category">
                    <div class="card" style="width: 18rem;">
                        <img src="./assets/img/baverages-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Beverages</h5>
                            <p class="card-text">11 items</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="./assets/img/breadbakery-1.jpg" class="img-fluid rounded-start"
                                             alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Biscuits & Snacks</h5>
                                            <p class="card-text">3 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="./assets/img/biscuitssnacks-1.jpg" class="img-fluid rounded-start"
                                             alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Bread & Bakery</h5>
                                            <p class="card-text">4 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="./assets/img/category-image2.png" class="img-fluid rounded-start"
                                             alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Breakfast & Dairy</h5>
                                            <p class="card-text">7 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="./assets/img/category-image4.png" class="img-fluid rounded-start"
                                             alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Frozen Foods</h5>
                                            <p class="card-text">8 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="./assets/img/dairy-1.jpg" class="img-fluid rounded-start"
                                             alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Fruits & Vegetables</h5>
                                            <p class="card-text">9 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="./assets/img/meat-1.jpg" class="img-fluid rounded-start"
                                             alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Grocery & Staples</h5>
                                            <p class="card-text">5 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="./assets/img/baverages-1.jpg" class="img-fluid rounded-start"
                                             alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Biscuits & Snacks</h5>
                                            <p class="card-text">12 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="./assets/img/category-image4.png" class="img-fluid rounded-start"
                                             alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Household Needs
                                            </h5>
                                            <p class="card-text">10 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="timer-clock">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 mt-5">
                    <div class="sale-off">
                        <h3>Deals of the <strong>week!</strong></h3>
                        <div class="clock-box">
                            <div class="clock">
                            </div>
                        </div>
                        <div class="img-product">
                            <div class="deal-discount">19%</div>
                            <img src="./assets/img/product-image-50.jpg" alt="">
                            <p class="stock">IN STOCK</p>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span><br>
                            <span class="count">$9.35</span>
                            <span class="no-line">-$7.25</span>
                            <div style="width: 280px; margin-left: 30px; margin-top: 40px; height: 10px;"
                                 class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width:80%; background: linear-gradient(to right, #ff0000 0%, #ff9900 100%);">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-4 mt-5">
                            <div class="card position-relative card-products" style="width: 15rem;">
                                <img src="./assets/img/card1.jpg" class="card-img-top" alt="...">
                                <p class="discount"> 23%</p>
                                <p class="recom">Recommended</p>
                                <div class="card-body">
                                    <p class="card-title">All Natural Italian-Style Chicken <br> Meatballs</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$9.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 mt-5">
                            <div class="card position-relative card-products" style="width: 15rem;">
                                <img src="./assets/img/card2.jpg" class="card-img-top" alt="...">
                                <p class="discount">24%</p>
                                <div class="card-body">
                                    <p class="card-title">Angie’s Boomchickapop Sweet <br> & Salty Kettle Corn</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$9.35</span>
                                    <span class="no-line">-$7.25</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 mt-5">
                            <div class="card position-relative card-products" style="width: 15rem;">
                                <img src="./assets/img/card3.jpg" class="card-img-top" alt="...">
                                <p class="discount">19%</p>
                                <div class="card-body">
                                    <p class="card-title">Field Roast Chao Cheese <br> Creamy Original</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$4.29</span>
                                    <span class="no-line">-$3.29</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card position-relative card-products" style="width: 15rem;">
                                <img src="./assets/img/card4.jpg" class="card-img-top" alt="...">
                                <p class="discount">10%</p>
                                <div class="card-body">
                                    <p class="card-title">Foster Farms Takeout Crispy <br> Classic Buffalo Wings</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$7.25 </span>
                                    <span class="no-line"> –$49.99</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card position-relative card-products" style="width: 15rem;">
                                <img src="./assets/img/card5.jpg" class="card-img-top" alt="...">
                                <p class="discount">10%</p>
                                <div class="card-body">
                                    <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$11.68</span>
                                    <span class="no-line">-$10.58</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card position-relative card-products" style="width: 15rem;">
                                <img src="./assets/img/card6.jpg" class="card-img-top" alt="...">
                                <p class="discount">12%</p>
                                <div class="card-body">
                                    <p class="card-title">Blueberries – <br> 1 Pint Package</p>
                                    <p class="stock">IN STOCK</p>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span>
                                    <span class="fa fa-star yellows"></span><br>
                                    <span class="count">$4.49</span>
                                    <span class="no-line">-$3.99</span>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary">Add to Card</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cookie-images">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xl-6 pt-5">
                            <div class="cookie-products">
                                <div class="banner-wrapper position-relative">
                                    <img src="./assets/img/bacola-banner-11.jpg" alt="">
                                    <div class="position">
                                        <span class="weekend">WEEKEND DISCOUNT 40%</span>
                                        <h3 class="txt-cookie">Cookie and Ice Cream</h3>
                                        <span class="bacola">Bacola Weekend Discount</span>
                                        <button class="btn">Shop Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 pt-5">
                            <div class="cookie-products">
                                <div class="banner-wrapper position-relative">
                                    <img src="./assets/img/bacola-banner-12.jpg" alt="">
                                    <div class="position">
                                        <span class="weekend">WEEKEND DISCOUNT 30%</span>
                                        <h3 class="txt-cookie">Cookie and Ice Cream</h3>
                                        <span class="bacola">Bacola Weekend Discount</span>
                                        <button class="btn">Shop Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="best-seller" class="pt-5">
        <div class="container">
            <div class="title">
                <div class="title-view">
                    <h4>BEST SELLERS</h4>
                    <p>Do not miss the current offers until the end of March.</p>
                </div>
                <div class="view-all">
                    <button class="btn"> <span>View All →</span> </button>
                </div>
            </div>
            <div class="owl-carousel last-carousel owl-theme">
                <div class="card">
                    <img src="./assets/img/card1.jpg" class="card-img-top" alt="...">
                    <p class="discount">10%</p>
                    <div class="card-body">
                        <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                        <p class="stock">IN STOCK</p>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span><br>
                        <span class="count">$11.68</span>
                        <span class="no-line">-$10.58</span>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Add to Card</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/img/card2.jpg" class="card-img-top" alt="...">
                    <p class="discount">10%</p>
                    <div class="card-body">
                        <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                        <p class="stock">IN STOCK</p>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span><br>
                        <span class="count">$11.68</span>
                        <span class="no-line">-$10.58</span>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Add to Card</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/img/card3.jpg" class="card-img-top" alt="...">
                    <p class="discount">10%</p>
                    <div class="card-body">
                        <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                        <p class="stock">IN STOCK</p>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span><br>
                        <span class="count">$11.68</span>
                        <span class="no-line">-$10.58</span>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Add to Card</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/img/card4.jpg" class="card-img-top" alt="...">
                    <p class="discount">10%</p>
                    <div class="card-body">
                        <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                        <p class="stock">IN STOCK</p>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span><br>
                        <span class="count">$11.68</span>
                        <span class="no-line">-$10.58</span>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Add to Card</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/img/card5.jpg" class="card-img-top" alt="...">
                    <p class="discount">10%</p>
                    <div class="card-body">
                        <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                        <p class="stock">IN STOCK</p>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span><br>
                        <span class="count">$11.68</span>
                        <span class="no-line">-$10.58</span>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Add to Card</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/img/card2.jpg" class="card-img-top" alt="...">
                    <p class="discount">10%</p>
                    <div class="card-body">
                        <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                        <p class="stock">IN STOCK</p>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span><br>
                        <span class="count">$11.68</span>
                        <span class="no-line">-$10.58</span>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Add to Card</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/img/card3.jpg" class="card-img-top" alt="...">
                    <p class="discount">10%</p>
                    <div class="card-body">
                        <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                        <p class="stock">IN STOCK</p>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span><br>
                        <span class="count">$11.68</span>
                        <span class="no-line">-$10.58</span>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Add to Card</a>
                    </div>
                </div>
                <div class="card">
                    <img src="./assets/img/card4.jpg" class="card-img-top" alt="...">
                    <p class="discount">10%</p>
                    <div class="card-body">
                        <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                        <p class="stock">IN STOCK</p>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span>
                        <span class="fa fa-star yellows"></span><br>
                        <span class="count">$11.68</span>
                        <span class="no-line">-$10.58</span>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Add to Card</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="elementor-section" class="pt-5">
        <div class="container">
            <div class="elementor">
                <a href=""><strong>SAVE AN EXTRA 5-10% ON EVERY AUTOSHIP ORDER!</strong></a>
            </div>
        </div>
    </section>
    <section id="product-seller" class="pt-5">
        <div class="container">
            <div class="row">
                <div class="custom-col-2">
                    <div class="card position-relative card-product" style="width: 13rem;">
                        <img src="./assets/img/card1.jpg" class="card-img-top" alt="...">
                        <p class="discount">13%</p>
                        <div class="card-body">
                            <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                            <p class="stock">IN STOCK</p>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span><br>
                            <span class="count">$19.68</span>
                            <span class="no-line">-$15.58</span>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Add to Card</a>
                        </div>
                    </div>
                </div>
                <div class="custom-col-2">
                    <div class="card position-relative card-product" style="width: 13rem;">
                        <img src="./assets/img/card2.jpg" class="card-img-top" alt="...">
                        <p class="discount">16%</p>
                        <div class="card-body">
                            <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                            <p class="stock">IN STOCK</p>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span><br>
                            <span class="count">$14.68</span>
                            <span class="no-line">-$10.58</span>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Add to Card</a>
                        </div>
                    </div>
                </div>
                <div class="custom-col-2">
                    <div class="card position-relative card-product" style="width: 13rem;">
                        <img src="./assets/img/card3.jpg" class="card-img-top" alt="...">
                        <p class="discount">12%</p>
                        <div class="card-body">
                            <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                            <p class="stock">IN STOCK</p>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span><br>
                            <span class="count">$16.68</span>
                            <span class="no-line">-$12.58</span>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Add to Card</a>
                        </div>
                    </div>
                </div>
                <div class="custom-col-2">
                    <div class="card position-relative card-product" style="width: 13rem;">
                        <img src="./assets/img/card4.jpg" class="card-img-top" alt="...">
                        <p class="discount">10%</p>
                        <div class="card-body">
                            <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                            <p class="stock">IN STOCK</p>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span><br>
                            <span class="count">$13.68</span>
                            <span class="no-line">-$10.58</span>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Add to Card</a>
                        </div>
                    </div>
                </div>
                <div class="custom-col-2">
                    <div class="card position-relative card-product" style="width: 13rem;">
                        <img src="./assets/img/card5.jpg" class="card-img-top" alt="...">
                        <p class="discount">10%</p>
                        <div class="card-body">
                            <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                            <p class="stock">IN STOCK</p>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span><br>
                            <span class="count">$11.68</span>
                            <span class="no-line">-$8.58</span>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Add to Card</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="custom-col-2">
                    <div class="card position-relative card-product" style="width: 13rem;">
                        <img src="./assets/img/card5.jpg" class="card-img-top" alt="...">
                        <p class="discount">13%</p>
                        <div class="card-body">
                            <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                            <p class="stock">IN STOCK</p>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span><br>
                            <span class="count">$12.68</span>
                            <span class="no-line">-$10.58</span>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Add to Card</a>
                        </div>
                    </div>
                </div>
                <div class="custom-col-2">
                    <div class="card position-relative card-product" style="width: 13rem;">
                        <img src="./assets/img/card4.jpg" class="card-img-top" alt="...">
                        <p class="discount">10%</p>
                        <div class="card-body">
                            <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                            <p class="stock">IN STOCK</p>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span><br>
                            <span class="count">$17.68</span>
                            <span class="no-line">-$16.58</span>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Add to Card</a>
                        </div>
                    </div>
                </div>
                <div class="custom-col-2">
                    <div class="card position-relative card-product" style="width: 13rem;">
                        <img src="./assets/img/card1.jpg" class="card-img-top" alt="...">
                        <p class="discount">10%</p>
                        <div class="card-body">
                            <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                            <p class="stock">IN STOCK</p>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span><br>
                            <span class="count">$11.68</span>
                            <span class="no-line">-$10.58</span>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Add to Card</a>
                        </div>
                    </div>
                </div>
                <div class="custom-col-2">
                    <div class="card position-relative card-product" style="width: 13rem;">
                        <img src="./assets/img/card2.jpg" class="card-img-top" alt="...">
                        <p class="discount">10%</p>
                        <div class="card-body">
                            <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                            <p class="stock">IN STOCK</p>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span><br>
                            <span class="count">$17.68</span>
                            <span class="no-line">-$14.58</span>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Add to Card</a>
                        </div>
                    </div>
                </div>
                <div class="custom-col-2">
                    <div class="card position-relative card-product" style="width: 13rem;">
                        <img src="./assets/img/card3.jpg" class="card-img-top" alt="...">
                        <p class="discount">15%</p>
                        <div class="card-body">
                            <p class="card-title">Blue Diamond Almonds Lightly <br> Salted</p>
                            <p class="stock">IN STOCK</p>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span>
                            <span class="fa fa-star yellows"></span><br>
                            <span class="count">$15.68</span>
                            <span class="no-line">-$10.58</span>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Add to Card</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ad" class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  justify-content-center">
                    <div class="products">
                        <div class="advs-products position-relative">
                            <img src="./assets/img/egg.jpg" alt="">
                            <div class="position">
                                <span class="weekend">WEEKEND DISCOUNT 20%</span>
                                <h3 class="txt-cookie">Natural Eggs</h3>
                                <span class="bacola">Bacola Weekend Discount</span>
                                <button class="btn">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  justify-content-center">
                    <div class="products">
                        <div class="advs-products position-relative">
                            <img src="./assets/img/bacola-banner-06.jpg" alt="">
                            <div class="position">
                                <span class="weekend">WEEKEND DISCOUNT 40%</span>
                                <h3 class="txt-cookie">Taste the Best</h3>
                                <span class="bacola">Bacola Weekend Discount</span>
                                <button class="btn">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 justify-content-center">
                    <div class="products">
                        <div class="advs-products position-relative">
                            <img src="./assets/img/bread.jpg" alt="">
                            <div class="position">
                                <span class="weekend">WEEKEND DISCOUNT 30%</span>
                                <h3 class="txt-cookie">Ditch the Junk</h3>
                                <span class="bacola">Bacola Weekend Discount</span>
                                <button class="btn">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="img-products pt-4">
                        <div class="advs-img">
                            <img src="./assets/img/water.jpg" alt="">
                            <div class="position">
                                <span class="weekend">TIPS & TRICKS</span>
                                <h4 class="txt-cookie">But I must explain to you how all this mistaken idea</h4>
                                <span class="bacola">
                                    <a href="">
                                        3 May 2021
                                        3 comments
                                        by Bacola
                                    </a>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="img-products pt-4">
                        <div class="advs-img">
                            <img src="./assets/img/shokalad.jpg" alt="">
                            <div class="position">
                                <span class="weekend">GROCERY</span>
                                <h4 class="txt-cookie">The Problem With Typefaces on the Web</h4>
                                <span class="bacola">
                                    <a href="">
                                        3 May 2021
                                        3 comments
                                        by Bacola
                                    </a>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="img-products pt-4">
                        <div class="advs-img">
                            <img src="./assets/img/marojna.jpg" alt="">
                            <div class="position">
                                <span class="weekend">GROCERY</span>
                                <h4 class="txt-cookie">English Breakfast Tea With Tasty Donut Desserts</h4>
                                <span class="bacola">
                                    <a href="">
                                        3 May 2021
                                        3 comments
                                        by Bacola
                                    </a>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
