
@{
    ViewData["Title"] = "Contact";
}

<main>
    <section id="contact-page">
        <div class="container">
            <div class="row">
                <div class="title">

                    <h1>Get In Touch</h1>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde quam dolor
                        culpa veritatis inventore, aut commodi eum veniam vel.
                    </p>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="street-info d-flex justify-content-center align-content-center flex-column text-center">
                        <i class="fa-solid fa-location-dot fa-2x"></i>
                        <span> <strong>102 Street 2714 Donovan</strong></span>
                        <p>Lorem ipsum dolar site amet discon</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="mobile-info d-flex justify-content-center align-content-center flex-column text-center">
                        <i class="fa-solid fa-phone fa-2x"></i>
                        <span> <strong>+02 1234 567 88</strong></span>
                        <p>Lorem ipsum dolar site amet discon</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12 ">
                    <div class="mail d-flex justify-content-center align-content-center flex-column text-center">
                        <i class="fa-solid fa-envelope fa-2x"></i>
                        <span> <strong>info@example.com</strong></span>
                        <p>Lorem ipsum dolar site amet discon</p>
                    </div>
                </div>


            </div>

        </div>
    </section>
    <section id="send">
        <div class="container">
            <div class="send-us">
                <div class="container">
                    <h1>Send Us</h1>
                    <p class="text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde
                        quam
                        dolor culpa veritatis inventore, aut commodi eum veniam vel.
                    </p>
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-6 col-md-12 pt-5">
                                <label class="label-name" for="name">Your name*</label>
                                <input type="text">
                            </div>
                            <div class="col-xl-6 col-md-12 pt-5">
                                <label class="label-name" for="name">Your email*</label>
                                <input type="email">
                            </div>
                            <div class="col-12">
                                <label class="label-name2" for="name">Subject*</label>
                                <input style="width:90%" type="text">
                                <label class="label-name2" for="name">Your message*</label>
                                <textarea style="width:90%"></textarea>
                                <button class="btn btn-primary mt-3" type="submit">Send Message</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

